* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

header {
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: rgb(21, 21, 21);
    color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    position: sticky;
    justify-content: space-between;
}

main {
    display: flex;
    flex-wrap: nowrap;
    min-height: 92vh;
}

main > aside {
    padding: 50px 30px;
    background-color: antiquewhite;
    width: 20vw;
    border-right: 1px solid rgb(183, 172, 158);
}

main > section.main-content {
    padding: 80px 70px;
    background-color: rgb(250, 248, 245);
    width: 80vw;
}

p.logo-text {
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    margin-right: 80px;
    min-width: 110px;
}

a.header-link {
    color: white;
    font-style: normal;
    text-decoration: none;
    margin: 0 20px;
    display: inline-block;
}

ul.header-links {
    list-style-type: none;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    max-width: 60vw;
}

header button {
    cursor: pointer;
}

header a.login-link {
    display: block;
    margin-left: 15%;
}

ul.list-categories {
    list-style-type: none;
}

ul.list-categories > li {
    color: rgb(66, 65, 65);
    margin-bottom: 30px;
}

ul.list-categories > li.selected {
    color: rgb(37, 37, 37);
    font-weight: bold;
}

ul.list-categories > li:not(.selected):hover {
    font-weight: 600;
}

section.main-content h1 {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

section.publication {
    max-width: 70%;
    overflow: auto;
    margin-bottom: 60px;
}

section.publication h2 {
    margin-bottom: 8px;
}

section.publication h1 {
    margin-bottom: 25px;
}

section.publication p {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 10px;
}

section.publication button {
    float: right;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 10px;
}

section.publication hr {
    clear: both;
    border: 1px solid black;
}

div.pub-info {
    background-color: rgb(226, 198, 183);
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
div.pub-info span {
    color: rgb(66, 65, 65);
    font-size: 1rem;
}

.main-content form label {
    display: inline-block;
    width: 120px;
    margin-bottom: 20px;
}

.main-content form input {
    display: inline-block;
    margin-bottom: 20px;
}

.main-content form ul {
    font-weight: bold;
    display: inline-block;
    list-style-type: none;
    color: darkred;
    margin-bottom: 20px;
}

ul.page-list {
    max-width: 70%;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

ul.page-list li {
    margin: 0 15px;
    display: flex;
    width: 3em;
    height: 3em;
    border: 1px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

ul.page-list li:hover {
    cursor: pointer;
    font-weight: bold;
    border: 2px solid black;
}

a.auth:hover {
    text-decoration: underline;
}

.publication button {
    background-color: rgb(236, 234, 233);
    border: 1px solid rgba(61, 61, 61, 0.525);
    border-radius: 5px;
}
