{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'blog/images/shirt.png' %}">
</head>
<body>
    <header>
        <p class="logo-text">
            <a href="{% url 'main' %}">Get the DRIP</a>
        </p>
        <ul class="header-links">
            {% for link in header_links %}
                <li><a href="{% url link.url_name %}" class="header-link">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
        <div>
            <a href="{% url 'login' %}" class="header-link auth">Войти</a>
            |
            <a href="{% url 'register' %}" class="header-link auth">Зарегаться</a>
        </div>
    </header>
    <main>
        <aside>
            {% block aside %}
                <ul class="list-categories">
                {% if selected_category == '' %}
                    <li class="selected">All categories</li>
                {% else %}
                    <li><a href="{% url 'main' %}">All categories</a></li>
                {% endif %}
                {% for category in categories %}
                    {% if category.slug == selected_category %}
                    <li class="selected">{{ category.name }}</li>
                    {% else %}
                    <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endblock %}
        </aside>
        <section class="main-content">
            {% block main-content %}
            {% endblock %}
            <nav>
                <ul class="page-list">
                    {% for p in paginator.page_range %}
                        <a href="?page={{ p }}"><li>{{ p }}</li></a>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    </main>
    <footer></footer>
</body>
</html>