{% extends 'blog/base.html' %}

{% block aside %}
    <ul class="list-categories">
        {% for category in categories %}
            <li><a href="">{{ category }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main-content %}
    <h1>Publications</h1>
    <section class="pulications">
    {% for p in publications %}
        <section class="publication">
            <h2 class="publication-title">{{ p.title }}</h2>
            <p>{{ p.content|linebreaks|truncatewords:50 }}</p>
            <a href="{{ p.get_absolute_url }}"><button>Читать пост</button></a>
            <hr>
        </section>
    {% endfor %}
    </section>
{% endblock %}